a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

header {
    background-color: #1F2937
}

.header-link {
    display: flex;
    flex: 1 1 auto;
}

.header-logo {
    display: flex;
    color: white;
    flex: 1 1 auto;
    align-items: center;
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
}

.logo-links {
    display: flex;
    margin-right: 500px;
}

.links {
    gap: 40px;;
    margin-right: 16px;
}

.bottom-header {
    margin-left: 300px;
    margin-top: 100px;
    display: inline-block;
}

.title {
    font-size: 32px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    max-width: 500px;
}

.first-button {
    background-color: #2c9abd;
    color: white;
    border-radius: 20%;
}

img {
    height: 150px;
    width: 300px;
    float: right;
    margin-left: 150px;
}

.header-text {
    float: left;
}